* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection {
    color: rgb(97, 125, 255);
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background: #333;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
p {
    margin: 0;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.section {
    padding: 6rem 0 6rem;
}

.bluebg {
    background: rgb(97, 125, 255) !important;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    width: 100%;
    z-index: 99;
    margin: 0;
}

.logo {
    position: relative;
    cursor: pointer;
}

.navbar .logo img {
    max-width: 60px;
    border-radius: 50%;
}

.logo::before {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    height: 65px;
    z-index: -1;
    top: -2.5px;
    left: -3px;
    border-radius: 12rem;
    background: rgb(97, 125, 255);
    opacity: 0;
    transition: all .4s;
}

.logo:hover::before {
    opacity: 1;
}

.navbar .nav__item {
    display: inline-block;
    margin-left: 1.5rem;
}

.nav__item .nav__link {
    position: relative;
    display: block;
    padding: 7px 10px;
    z-index: 2;
    color: #fff;
    transition: .4s;
}

.nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    border-radius: .75rem;
    background: rgb(97, 125, 255, .65);
    transition: all .4s;
}

.nav__link.active {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .75rem;
    background: rgb(97, 125, 255, .65);
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

.nav__item .nav__link:hover {
    letter-spacing: 2px;
}

.nav__humbger {
    position: absolute;
    display: none;
    width: 35px;
    height: 35px;
    right: 2rem;
    top: 1.8rem;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav__bar,
.nav__humbger::before,
.nav__humbger::after {
    content: "";
    display: block;
    margin: 6px 0;
    width: 100%;
    height: 5px;
    border-radius: .75rem;
    background: rgb(97, 125, 255, .65);
    transition: all .4s;
}

.nav__humbger.active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.nav__humbger.active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.nav__humbger.active .nav__bar {
    transform: translateX(-100%);
    opacity: 0;
}

@media screen and (max-width: 750px) {
    .nav__humbger {
        display: block;
    }
}

.home {
    position: relative;
    padding: 4rem 0 0;
}

.home .data {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.data .logoCenter {
    display: flex;
    justify-content: center;
    max-width: 220px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.data h2 {
    font-size: 2rem;
}

.btn__container {
    padding: 20px;
}

.btn__container .btn {
    display: inline-block;
    border: none;
    outline: none;
    padding: 10px 50px;
    margin-left: .75rem;
    background: rgb(31, 30, 30);
    box-shadow: 0 1px 15px rgb(31, 30, 30, .2);
    color: #ffff;
    font-weight: 600;
    border-radius: .25rem;
    transition: .3s;
    cursor: pointer;
}

.btn__container .btn:hover {
    background: rgb(97, 125, 255, .75) !important;
}

@media screen and (max-width: 750px) {
    .btn__container .btn {
        margin: 0 40px 12px;
    }
}


@media screen and (max-width: 750px) {
    .nav__list {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        top: 0;
        z-index: 2;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #333;
        transition: all .4s;
        color: #000;
    }
    .nav__list.active {
        left: 0;
    }
    .nav__link {
        margin: 0;
    }
}